#top-header {
    background-color: orange;
    display: flex;
    align-items: center;
    padding: 20px;
}

#table {
    background-color: yellow;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

nav {
    background-color: brown;
     
}

a {
    border-right: 1px black solid;
    padding: 10px
}